main {
  white-space: nowrap;
  /* display: inline-block; */
}

.total {
  display: inline-block !important;
  /* float: left; */
  position: relative;
  white-space: nowrap;
  margin-right: 10px;
}

.container-style {
  position: relative;
  /* float: left; */
  margin: 0 10 10 10;
  white-space: nowrap;
}
.header-style {
  height: 58;
  width: 260px;
  /* position: relative;
  float: left; */
}
.p-header {
  margin: 0;
  font-size: medium;
  padding-top: 18px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.retard {
  background-color: rgba(197, 0, 0, 0.836);
}
.ajd {
  background-color: rgba(10, 117, 0, 0.836);
}
.demain {
  background-color: rgba(7, 58, 116, 0.836);
}
.ap-demain {
  background-color: rgba(7, 58, 116, 0.836);
}
.apap-demain {
  background-color: rgba(7, 58, 116, 0.836);
}
.reste {
  background-color: rgba(7, 58, 116, 0.836);
}

.container {
  width: 260px;
  padding-bottom: 10;
  position: relative;
  /* float: left; */
  background-color: #ebecf0;
  border-radius: 2px;
  padding-top: 7px;
}

.newAction {
  position: relative;
  float: left;
  /* margin-left: 300;
  margin-top: 0; */
}

.draggable {
  text-align: center;
  position: relative;
  margin: auto;
  height: 100px;
  /* width: 300px; */
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 5px;
}
.draggable:hover {
  opacity: 0.8;
}
.draggable.dragging {
  opacity: 0.3;
}

.trait_vert {
  display: inline-block;
  width: 50px;
  border-top: 2.5px solid rgb(27, 207, 36);
}
.trait_rouge {
  display: inline-block;
  width: 50px;
  border-top: 2.5px solid rgb(207, 27, 27);
}

.hovered {
  border-style: dashed;
}
